/* GENERALES */

*{
    border: 0;
    padding:0;
}
body {
    background-color: #cfcbcabe;
    padding: 5px;
    display: flex;
  flex-direction: column;
    /* display: flex; */
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
}

a, strong, h1, span, div, li, button {
    text-decoration: none;
    color: #2D2A32;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    text-decoration: underline;
    color: #A44A3F;
}

/* HEADER */
nav #top_header img {
    max-width: 80px;
}

#bottom_header ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#bottom_header ul li {
    margin: 5px;
}

#bottom_header div input {
    border: 1px solid #2D2A32;
    border-radius: 2px;
    padding: 1px;
}

/* MAIN */
/* SECTION */
#products-filter{
    position: sticky;
    top: 0;
    padding: 5px;
    width: 100%;
    background-color: #ABA194;
    padding: 10px;
    text-align: start;
}

section div h1 {
    font-size: 20px;
    justify-content: center;
}

#products-filter div {
    font-size: 15px;
}
#product-listing {
    align-items: center;
    justify-content: center;
}

#product-listing li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.image-container a img {
    width: 250px;
}

article {
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
}


#load-more-products {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#load-more-products button {
    border: 1px solid #2D2A32;
    border-radius: 3px;
    padding: 3px;
}

#back-to-top {
    position: fixed;
    align-self: flex-end;
    bottom: 40px;
    right: 20px;
    padding: 2px;
    border: 1px solid #2D2A32;
    border-radius: 3px;
}

/* FOOTER */
.footer ul{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* media screens till 600px */  
@media (max-width:600px) {
    #bottom_header div {
        position: relative;
        margin-bottom: 10px;
    }

    aside nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }

    aside nav ul .list-group {
        /* display: block; */
        width: 100%;
        padding: 10px;
       
    }

    .menu2-element{
        padding: 5px;
    }

    section div h1{ 
        text-align: center;
    }
}

/* media for screens till 819px(where it deforms the page) */
@media (min-width:600px) and (max-width:818px) {
    #bottom_header div {
        position: relative;
        margin-bottom: 10px;
    }

    aside nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        text-align: center;
        margin-left: 0;
    }

    aside nav ul .list-group {
        /* display: block; */
        width: 40%;
    }

    .menu2-element{
        padding: 5px;
    }

    section div h1{ 
        text-align: center;
    }
}


/* media for screens from 818 to 999px(where it deforms the page) */
@media (min-width: 818px) and (max-width: 1001px) {
    #bottom_header div{
        position: absolute;
        right: 10px;
        top: 95px;
    }

    /* main */
    main div{
        display: flex;
        flex: 1;
    }

    /* aside */
    aside {
        width: 250px;
        padding: 10px;
    }

    .list-group {
        padding-left: 5px;
    }

    .list-group ul{
        padding-left: 20px;
    }

    .list-group ul li:nth-last-child(1){
        padding-bottom: 20px;
    }

    .list-group .menu2-element {
        padding: 2px;
    }

    /* section body */
    section nav ul {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px; 
        padding: 20px;
    }

    section {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center; 
    }

    section div h1 {
        text-align: center;
    }

   

}


/* media for screens from 1000px ahead(where it deforms the page) */
@media(min-width: 1000px) {
    #bottom_header div {
        position: absolute;
        right: 10px;
        top: 95px;
    }

    /* main */
    main div{
        display: flex;
        flex: 1;
    }

    /* aside */
    aside {
        width: 350px;
        padding: 10px;
    }

    .list-group {
        padding-left: 5px;
    }

    .list-group ul{
        padding-left: 20px;
    }

    .list-group strong {
        margin-block: 10px;
    }

    .list-group ul li:nth-last-child(1){
        padding-bottom: 20px;
    }

    .list-group .menu2-element {
        padding: 2px;
    }

    /* section body */
    section nav ul {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 20px; 
        padding: 20px;
    }

    section {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center; 
    }

     
}